
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-right" href="#">Gaucho Wind</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-home"></i> Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/debug">
          <i class="fas fa-chart-bar"></i> Charts
        </a>
      </li>
    </ul>

  </div>
</nav>


<script>
  $(document).ready(function () {

    const currentUrl = window.location.pathname;
    const navLinks = document.querySelectorAll('.navbar-nav .nav-item a');

    navLinks.forEach(link => {
      if (link.href.endsWith(currentUrl)) {
        link.classList.add('active');
      }
    });
/*
    const path = window.location.pathname;
    console.log(path)
    const escapedPath = $.escapeSelector(path);
    console.log(escapedPath)
    $(`a[href="${path}"]`).addClass('active');
*/
});
</script>